@import "../../Styles";

.repos {
  display: flex;
  flex-direction: column;

  .repo {
    display: flex;
    flex-direction: column;
    background: $secondary;
    margin: 5px 0 5px 15px;
    padding: 10px 5px 20px 5px;
    color: $primary;

    .header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .name {
        font-weight: bold;
      }

      .stars {
        display: flex;
        flex-direction: row;
        align-items: center;

        span {
          margin-right: 8px;
        }
      }
    }
  }
}
